{% extends "app_second/components/base.html" %}
{% load static %}

<!-- {% block navbar %}
    {% include 'app_second/components/navbar.html' %}
{% endblock navbar %} -->

{% block main %}
<main role="main" class="inner cover">
    <div class="container pb-5 pt-5">
    <h1 class="cover-heading">Главная страница.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Изучение Django</a>
    </p>
    </div>
</main>
{% endblock main %}


{% block footer %} 
    {% include 'app_second/components/footer.html' %} 
 {% endblock footer %}



